/* Start Global Rules */

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* start global rooles */

:root {
  --maincolor: #19c8fa;
  --trasnparentcolor: rgb(15 116 143 / 70%);
  --mainheading-p-clr: #777;
  --padding-section: 100px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Smole */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Mediume */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */

/* start components */
.main-header {
  text-align: center;
}

.main-header h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
}

.main-header h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 120px;
  background-color: #333;
  bottom: -30px;
}

.main-header h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #333;
  bottom: -38px;
  background-color: #fff;
}

.main-header p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: var(--mainheading-p-clr);
}

/* end components */

/* Start header  */

header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 131px;
}

header .container::after {
  content: "";
  position: absolute;
  background-color: #a2a2a2;
  bottom: 15px;
  height: 1px;
  width: calc(100% - 30px);
  left: 15px;
}

header .logo img {
  height: 40px;
}

nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header nav .toggle-menu {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}

@media (min-width: 768px) {
  header nav .toggle-menu {
    display: none;
  }
}

nav ul {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 767px) {
  header ul {
    display: none;
  }
  nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
  }

  nav ul li a {
    padding: 15px !important;
  }
}

nav ul a {
  text-decoration: none;
  padding: 40px 10px;
  display: block;
  color: #fff;
  font-size: 1rem;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

ul li a.active,
ul li a:hover {
  color: var(--maincolor);
  border-bottom: 1px solid var(--maincolor);
}

header nav .form {
  width: 40px;
  height: 35px;
  position: relative;
  margin-left: 30px;
  border-left: 1px solid #fff;
}

header .form .sech {
  color: #fff;
  position: absolute;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

/* End header */

/* start landing */
.landing {
  min-height: 100vh;
  background-color: #1f2021;
  background-image: url("../img/landing.jpg");
  background-size: cover;
  position: relative;
}

.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 60%);
}

.landing .text {
  position: absolute;
  top: 50%;
  width: 50%;
  padding: 50px;
  color: #fff;
  background-color: var(--trasnparentcolor);
  display: flex;
  justify-content: flex-end;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.landing .text .content {
  max-width: 400px;
}

@media (max-width: 767px) {
  .landing .text {
    width: 100%;
    padding: 30px;
    justify-content: center;
  }
  .landing .text .content {
    width: 100%;
  }
  .landing .change-background {
    display: none;
  }
}

.landing .content h2 {
  font-size: 26px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}
.landing .content p {
  font-size: 14px;
  line-height: 2;
}

.landing .change-background {
  position: absolute;
  top: 50%;
  color: #fff;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.landing .left {
  left: 30px;
}

.landing .right {
  right: 30px;
}

.landing .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
}
.landing .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 10px;
}
.landing .bullets li.active {
  background-color: var(--maincolor);
  border-color: var(--maincolor);
}
/* end landing */

/* start services */

.services {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}

@media (min-width: 768px) {
  .services .services-contianer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
  }
}

@media (max-width: 767px) {
  .services .ser-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }
  .services .ser-box .icon {
    margin: 0 0 40px !important;
  }
}
.services .ser-box {
  display: flex;
}

.services .ser-box .icon {
  margin-right: 50px;
  color: var(--trasnparentcolor);
}
.services .ser-box h3 {
  margin-bottom: 30px;
  color: var(--maincolor);
}

.services .ser-box p {
  line-height: 2;
  color: var(--mainheading-p-clr);
}

/* end services */

/* start Designe */
.design {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
  height: 600px;
  position: relative;
  background-image: url("../img/designe/design-features.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.design::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 60%);
}

.design .image,
.design .text {
  position: relative;
  z-index: 2;
  flex: 1;
}
.design .image img {
  position: relative;
  bottom: -150px;
}

@media (max-width: 767px) {
  .design .image {
    display: none;
  }
}

.design .text {
  color: #fff;
  padding: 50px;
  background-color: var(--trasnparentcolor);
}

.design .text h2 {
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.design .text ul li {
  padding: 15px 0;
}

.design .text ul li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f390";
  /* display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal; */
  margin-right: 20px;
  position: relative;
  top: 1px;
}
/* end Designe */
/* start Portofolio */
.portofolio {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}
.portofolio ul.shuffl {
  display: flex;
  justify-content: center;
}

.portofolio .shuffl li {
  padding: 15px;
}
.portofolio .shuffl li.active {
  background-color: var(--maincolor);
  color: #fff;
}
.portofolio .images-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
.portofolio .images-container .box {
  position: relative;
  overflow: hidden;
}

.portofolio .images-container .box:hover .caption {
  bottom: 0;
}
.portofolio .images-container .box:hover img {
  transform: rotate(3deg) scale(1.1);
  -webkit-transform: rotate(3deg) scale(1.1);
  -moz-transform: rotate(3deg) scale(1.1);
  -ms-transform: rotate(3deg) scale(1.1);
  -o-transform: rotate(3deg) scale(1.1);
}
@media (min-width: 768px) {
  .portofolio .images-container .box {
    flex-basis: 50%;
  }
}

@media (min-width: 1199px) {
  .portofolio .images-container .box {
    flex-basis: 25%;
  }
}
.portofolio .images-container .box img {
  max-width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.portofolio .images-container .box .caption {
  position: absolute;
  left: 0;
  padding: 20px;
  background-color: white;
  width: 100%;
  bottom: -100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.portofolio .images-container .box h4 {
  font-weight: normal;
  margin-bottom: 10px;
}
.portofolio .images-container .box p {
  color: var(--maincolor);
}

.portofolio .more {
  text-decoration: none;
  background-color: var(--maincolor);
  color: #fff;
  padding: 15px 20px;
  display: block;
  width: fit-content;
  margin: 30px auto;
  text-transform: uppercase;
}

/* end Portofolio */

/* start Video */
.video {
  position: relative;
}
/* overlay */
.video::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 50%);
}
.video video {
  width: 100%;
}
.video .text {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  background-color: var(--trasnparentcolor);
  color: #fff;
  text-align: center;
}
@media (max-width : 767px) {
  .video .text {
    height: 100%;
    padding: 40px;
  }
}
.video .text h2 {
  margin: 0 0 30px;
  text-transform: uppercase;
  font-weight: normal;
}

/* .video .text button {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
} */

/* tsting */
/* From uiverse.io by @Sergestra */
button {
  margin: 1.35em auto 0;
  outline: none;
  border: none;
  width: 100%;
  max-width: 140px;
  height: 50px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.625em 1em 0 rgb(30 143 255 / 35%);
  overflow: hidden;
  border-radius: 0.4em;
}
button div {
  width: 100%;
}
button p {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  height: 50px;
  font-size: 18px;
  transform: translateY(0);
  padding: 15px;
}

button:hover {
  box-shadow: 0 0.625em 1em 0 rgb(33 220 98 / 35%);
}

button:hover div p {
  transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
}

button,
button div p {
  transition: 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}
button div:first-of-type {
  background-color: #1e90ff;
}
button:hover div:last-child p {
  background-color: #21dc52;
  padding: 0.8em 0.3em !important;
}

button:active {
  transform: scale(0.92);
  -webkit-transform: scale(0.92);
  -moz-transform: scale(0.92);
  -ms-transform: scale(0.92);
  -o-transform: scale(0.92);
}
/* end tsting */

/* end Video */

/* start about */
.about {
  padding-top: var(--padding-section);
  overflow: hidden;
  text-align: center;
}

.about img {
  position: relative;
  bottom: -120px;
  margin-top: -120px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .about img {
    bottom: -60px;
    margin-top: -60px;
  }
}
/* end about */

/* start status */
.status {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
  text-align: center;
  background-image: url("../img/portofulio/shuffle-07.jpg");
  background-size: cover;
  position: relative;
}

.status::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 70%);
}
.status .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.status .container .box {
  color: #fff;
  padding: 50px;
  background-color: var(--trasnparentcolor);
}

@media (max-width: 767px) {
  .status .container .box {
    flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .status .container .box {
    flex-basis: 50%;
  }
}

@media (min-width: 992px) {
  .status .container .box {
    flex-basis: 25%;
  }
}

.status .container i {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 50%;
  margin: 0 auto 30px;
}
.status .container .number {
  font-size: 50px;
  font-weight: bold;
  margin: 0 0 20px;
}
.status .container p {
  font-size: 14px;
}
/* end status */

/* start skils */
.our-skils {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}
.our-skils .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .our-skils .container > div {
    flex-basis: 45%;
  }
}

.our-skils .container > div > h3 {
  margin: 0 0 30px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

.our-skils .container > div > p {
  color: var(--mainheading-p-clr);
  line-height: 2;
  text-align: center;
  margin-bottom: 60px;
}

.our-skils .content {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}
.our-skils .content img {
  width: 100px;
  border-radius: 50%;
  margin-right: 50px;
}
@media (max-width: 767px) {
  .our-skils .content {
    flex-direction: column;
    text-align: center;
  }
  .our-skils .content img {
    margin: 0 auto 20px;
  }
}

.our-skils .testimonials .text {
  line-height: 1.8;
  border-bottom: 1px solid #ccc;
}

.our-skils .testimonials .text p {
  color: #777;
  text-align: right;
  font-size: 14px;
  margin-bottom: 10px;
}

.our-skils .testimonials .bullets {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.our-skils .testimonials .bullets li {
  width: 14px;
  height: 14px;
  border: 1px solid #aaa;
  margin-right: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.our-skils .testimonials .bullets li.active {
  background-color: var(--maincolor);
  border-color: var(--maincolor);
}

.our-skils .skils .pro-holder {
  margin-bottom: 40px;
}
.our-skils .skils .pro-holder h4 {
  margin-bottom: 15px;
  font-weight: normal;
  text-transform: uppercase;
}
.our-skils .skils .pro-holder .prog {
  background-color: #dadadc;
  height: 30px;
}
.our-skils .skils .pro-holder span {
  display: block;
  position: relative;
  background-color: var(--maincolor);
  height: 100%;
}
.our-skils .skils .pro-holder span::before {
  content: attr(data-progres);
  position: absolute;
  background-color: black;
  color: white;
  top: -40px;
  right: -18px;
  padding: 4px 0;
  width: 40px;
  text-align: center;
  border-radius: 4px;
}
.our-skils .skils .pro-holder span::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 8px;
  border-color: black transparent transparent;
  right: -8px;
  top: -15px;
}
/* end skils */

/* start quote */
.quote {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
  background-image: url("../img/landing/mounting.jpg");
  background-size: cover;
  position: relative;
  text-align: center;
  color: #fff;
}

.quote::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 70%);
}
.quote .container {
  position: relative;
}

.quote q {
  font-size: 30px;
  margin-bottom: 20px;
  display: block;
}
.quote .container q::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f10d";
  position: relative;
  color: #009688;
  left: -0.4em;
}
.quote .container q::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f10e";
  position: relative;
  color: #009688;
  right: -0.4em;
}
/* end quote */

/* start Pricing */
.pricing {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}

.pricing .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.pricing .plans .plan {
  background-color: #fcfcfc;
  text-align: center;
}
.pricing .plans .plan .head {
  padding: 40px 20px;
  border-top: 1px solid var(--maincolor);
  border-bottom: 1px solid var(--maincolor);
}
.pricing .plans .plan h3 {
  font-weight: normal;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.pricing .plans .plan span {
  font-size: 50px;
  font-weight: bold;
}
.pricing .plans .plan span::before {
  content: "$";
  font-size: 25px;
  position: relative;
  top: -40px;
  margin-right: 15px;
  font-weight: normal;
}
.pricing .plans .plan span::after {
  content: "/MO";
  font-size: 20px;
  position: relative;
  right: -15px;
}

.pricing .plans .plan ul {
  border-bottom: 1px solid var(--maincolor);
}
.pricing .plans .plan ul li {
  padding: 20px;
  position: relative;
}

.pricing .plans .plan ul li:not(:last-child)::after {
  content: "";
  width: 120px;
  height: 1px;
  background-color: var(--maincolor);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.pricing .plans .foot a {
  text-decoration: none;
  display: block;
  width: fit-content;
  font-size: 16px;
  padding: 1.3em;
  margin: 20px auto;
  color: var(--maincolor);
  border: 2px solid var(--maincolor);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}


.pricing p.contate-text {
  text-align: center;
  margin: 50px auto 20px;
  font-size: 18px;
}
.pricing .contact-link {
  display: block;
  width: fit-content;
  margin: 1.3em auto;
  background-color: var(--maincolor);
  color: #fff;
  text-decoration: none;
  padding: 1em 1.3em;
}
/* end Pricing */

/* start subscripe */
.subscribe {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
  background-image: url("../img/landing/portfolio-1.jpg");
  background-size: cover;
  position: relative;
  color: #fff;
}
.subscribe::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 50%);
}

.subscribe .container {
  position: relative;
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  .subscribe .container {
    flex-direction: column;
  }
}

.subscribe form {
  display: flex;
  position: relative;
  width: 500px;
  max-width: 100%;
}
.subscribe form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
}
.subscribe form input[type="email"] {
  border: 1px solid white;
  border-right: none;
  background: none;
  padding: 20px 20px 20px 60px;
  caret-color: var(--maincolor);
  width: calc(100% - 130px);
}
.subscribe form input[type="submit"] {
  width: 130px;
  background-color: var(--maincolor);
  color: white;
  border: 1px solid white;
  border-left: none;
  padding: 10px 20px;
  text-transform: uppercase;
}
.subscribe input[type="email"]:focus,
.subscribe input[type="submit"]:focus {
  outline: none;
}
.subscribe form ::placeholder {
  color: #fff;
}

.subscribe p {
  line-height: 2;
  margin-left: 35px;
}
@media (max-width: 991px) {
  .subscribe p {
    margin: 30px 0 0;
  }
}
@media (max-width: 767px) {
  .subscribe p {
    text-align: center;
  }
}
/* end subscripe */

/* start contact */
.contact-us {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}
.contact-us .content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .contact-us .content {
    flex-direction: column-reverse;
  }
  .contact-us .info {
    margin: 0 0 50px;
    text-align: center;
  }
  .contact-us .info h4:last-of-type {
    margin-top: 45px !important;
  }
}
.contact-us form {
  flex-basis: 70%;
}
.contact-us form .main-input {
  padding: 20px;
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  width: 100%;
}
.contact-us form .main-input:focus {
  outline: none;
}
.contact-us form textarea.main-input {
  height: 200px;
}
.contact-us form input[type="submit"] {
  color: #fff;
  background-color: var(--maincolor);
  padding: 20px;
  border: none;
  display: flex;
  margin-left: auto;
  text-transform: uppercase;
  cursor: pointer;
}

.contact-us .info {
  flex-basis: 25%;
}

@media (max-width: 767px) {
  .contact-us .info {
    margin: 0 0 50px;
    text-align: center;
  }
}

.contact-us .info h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
}
.contact-us .info .phone {
  display: block;
  color: #777;
  margin-bottom: 10px;
}
.contact-us .info h4:last-of-type {
  margin-top: 90px;
}

@media (max-width: 767px) {
  .contact-us .info h4:last-of-type {
    margin-top: 45px;
  }
}
.contact-us .info address {
  color: #777;
  line-height: 2;
}
/* end contact */

/* start footer */
.footer {
  padding-top: calc(var(--padding-section) / 2);
  padding-bottom: calc(var(--padding-section) / 2);
  background-image: url("../img/landing/portfolio-2.jpg");
  background-size: cover;
  position: relative;
  color: #fff;
  text-align: center;
}
.footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 70%);
}
.footer .container {
  position: relative;
}
.footer img {
  margin-bottom: 20px;
}
.footer p:not(.copyright) {
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid #fff;
  font-size: 22px;
  width: fit-content;
  margin: 20px auto;
}
.footer .social-icons i {
  padding: 10px 15px;
}
.footer .copyright {
  margin-top: 60px;
}

.footer .copyright span {
  font-weight: bold;
  color: var(--maincolor);
}
/* end footer */
